body {
	background-color: grey;
	font-family: comic, serif;
}

h1 {
	color: black;
	font-size: 50px;
	text-align: center;
	margin-bottom: 50px;
}

.image {
	float: left;
	width: 32.33%;
	padding: .5%;
	
overflow:hidden;
		display:block;
		

}


.portrait img {
	width: 86%;
}

.caption{
	text-align: center;
	background-color: blue;
	color:white;
	margin-top:-20px;
	position: relative;
}

.landscape img {
	width: 100%;
}
.extra-stuff{
	font-size: 20px;
	float: left;
	width: 32.3333%;
	text-align: center;
	background-color: blue;
	color: white;
	padding:10% 0;
	margin-top:.5%;
	margin-left:.5%;
}



